@charset "utf-8";

body{
    background-image: url(img/hatter.png);
}

*,*:before,*:after{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.bigboy{
    width: 1000px;
    height: 1000px;
    margin: 10px auto;
}
.smallboy1, .smallboy3{
    width: 100%;
    height: 40%;
    display: flex;
}
.smallboy2{
    width: 100%;
    height: 20%;
    display: flex;
}



.color1{
/*    row 1 col 1*/
    background-color: red;
}
.color2{
    /*//zöld row1-col3*/
    background-color: green;
}

.color3{
/*     kék row3 col 1*/
    background-color: blue;
}
.color4{
/*    sárga row3 col 3*/
    background-color: yellow;
}
.white{
    background-color: white;
}
.color1,
.color2,
.color3,
.color4{
    width: 40%;
    height: 100%;
    align-items: center;
    justify-content: center;
    display: flex;
    border: 1px black dashed;
}
.color1-belul>div ,
.color2-belul>div ,
.color3-belul>div ,
.color4-belul>div{
    width: 35%;
    height: 35%;
    float: left;
    margin: 7%;
    box-shadow: 0 3px 6px rgba(0,0,0,16), 0 3px 6px rgba(0,0,0,.23);
    transition: all 0.3s cubic-bezier(.25, .8,25,1);
}

.color1-belul>div:hover ,
.color2-belul>div:hover ,
.color3-belul>div:hover ,
.color4-belul>div:hover{
    box-shadow: -2 14px 28px rgba(0,0,0,25), -2 10px 28px rgba(0,0,0,.22);
}
.jatekter1, .jatekter4{
    /*row1-col2*/
    width: 20%;
    height: 100%;
}

.jatekter2, .jatekter3{
    width: 40%;
    height: 100%;
}
.win{
    width: 20%;
    height: 100%;
}
.j2_1{  
    grid-area: j2_1; 
 display: grid;
     grid-gap: 1px;
    grid-template-columns:1f 1f 1f 1f 1f 1f;
    grid-template-areas:
               "j2_1_1 j2_1_2 j2_1_3 j2_1_4 j2_1_5 j2_1_6"
               ;
}

.j2_2{
    grid-area: j2_2; 
    display: grid;
     grid-gap: 1px;
    grid-template-columns:1f 1f 1f 1f 1f 1f;
    grid-template-areas:
               "j2_2_1 j2_2_2 j2_2_3 j2_2_4 j2_2_5 j2_2_6"
               ;
}

.j2_3{
    grid-area: j2_3; 
    display: grid;
     grid-gap: 1px;
    grid-template-columns:1f 1f 1f 1f 1f 1f;
    grid-template-areas:
               "j2_3_1 j2_3_2 j2_3_3 j2_3_4 j2_3_5 j2_3_6"
               ;
}
jatekter2{
    display: grid;
     grid-gap: 1px;
    grid-template-columns: 1f 1f 1f;
    grid-template-areas:
               "j2_1 j2_1 j2_1"
               "j2_2 j2_2 j2_2"
               "j2_3 j2_3 j2_3";
   /* background-color: #fff;
    color: #444;
    */
}



